spring:
  datasource:
    url: ${DB_URL}  # From environment variable
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 30000

#logging:
#  level:
#    root: WARN
#    com.ecommerce: INFO
